/* game-widget.css */

.game-widget {
  margin: -20px -50px;
  overflow: hidden;
}

/* контейнер swiper */
.game-widget .swiper {
  width: 100%;
  height: auto;
}

/* один слайд = группа карточек */
.game-widget .swiper-slide {
  display: flex;
  align-items: stretch;
  height: 100%;
}

/* группа карточек внутри слайда */
.game-widget .slide-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 в ряд */
  gap: 16.83px;
  width: 90%;
  height: 100%;
}

.game-widget .swiper-slide {
  overflow: visible;
}

.game-widget .slide-group {
  overflow: visible;
}

.swiper-wrapper {
    padding: 50px;
    overflow: visible;
}

@media screen and (max-width: 1250px) {
  /* группа карточек внутри слайда */
  .game-widget .slide-group {
    grid-template-columns: repeat(2, 1fr); /* 2 в ряд */
    width: 50%;
  }
}

@media screen and (max-width: 630px) {
  body {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 620px) {
  /* группа карточек внутри слайда */
  .slide-group .catalog-item {
    width: 100%;
  }

  .game-widget .slide-group {
    width: 80%;
  }
}

@media screen and (max-width: 450px) {
  .game-widget .slide-group {
    width: 77%;
  }
}