@media screen and (max-width: 1440px) {
  .catalog-third-item, .slide-group {
    zoom: 0.927;
  }

  .long-container-youtube, .short-container, .short-container-youtube {
    zoom: 0.927;
  }
}

@media screen and (max-width: 1320px) {
  .catalog-third-item, .slide-group {
    zoom: 0.71;
  }

  .long-container-youtube, .short-container, .short-container-youtube {
    zoom: 0.71;
  }
}

@media screen and (max-width: 1100px) {
  .catalog-third-item, .slide-group {
    zoom: 0.666;
  }
}